Flask
flask-login
flask-sqlalchemy
flask-migrate
Pillow
easyocr
navec
slovnet
torch
opencv-python
numpy
transformers
pytest
pytest-mock
flasgger
pytesseract
Pillow
flake8
accelerate
sentencepiece
protobuf